h1 {
  font-weight: bold;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
}
h2 {
  font-weight: bold;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
}
p {
  font-family:"Trebuchet MS", Helvetica, sans-serif;
}
